<link rel="stylesheet" href="{{ themePath }}/antd.min.css">
<link rel="stylesheet" href="{{ themePath }}/antd-theme.css">
<button type="button" class="ant-btn">
    <slot name="label"></slot>
    <slot></slot>
</button>